.line {

    max-width: 500px;
    max-height: 500px;

}

.x-coordinate {
    width: 90px;
    border-radius: 5px;
    margin: 5px;
    color: #fff;

}

.y-coordinate {
    width: 90px;
    border-radius: 5px;
    margin: 5px;
    color: #fff;
}

.z-coordinate {
    width: 90px;
    border-radius: 5px;
    color: #fff;

}

h6 {
    color: #fff;

}

.second-barometer {
    float: left;
}

li{
    float: left;
}

ul {
    list-style-type: none;

}