.App {
  text-align: center;
  background-color: #333B41;
  width: 100vw;


}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #EAEDED;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.fill-window {
  height: 100%;
  position:absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
  background-color: #333B41;
}

.line {
  /* for chrome and safari*/
  -webkit-animation-duration: 2.3s;
  -webkit-animation-name: slidein;

  /*for firefox*/
  -moz-animation-duration: 2.3s;
  -moz-animation-name: slidein;

  /* for opera*/
  -o-animation-duration: 2.3s;
  -o-animation-name: slidein;

  /* Standard syntax*/
  animation-duration: 2.3s;
  animation-name: slidein;
}

@-webkit-keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

@-moz-keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

@-o-keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}